.ide-alert{
    position: fixed;
    left: 75vw;
    width: 22vw;
    margin: 16px;
}

/* 侧栏区域 */
.ide-side-bar {
    background: #252526;
    width: 18vw;
    min-width: 280px;
    height: 97vh;
    padding: 0;
  }
  
  .ide-panel {
    width: 18vw;
    min-width: 280px;
    background: #252526 !important;
  }
  
  .ide-panel-header {
    color: #eeeeee;
    height: 20px;
  }
  
  .ide-panel-divider {
    background: #42424242;
  }
  
  .ide-panel-flex {
    width: 100%;
    padding: 8px 24px;
  }
  
  .ide-list {
    background: #252526;
    width: 18vw !important;
    min-width: 280px !important;
    padding: 0;
  }
  
  /* 顶栏区域 */
  .ide-top-bar {
    height: 97vh;
    width: 82vw;
    background: #1e1e1e;
  }
  
  .ide-top-bar-appbar {
    width: 100%;
    height: 48px !important;
  }
  
  .ide-editor {
    height: 97vh;
    width: 82vw;
  }
  
  /* 底栏区域 */
  .ide-bottom-bar {
    width: 100vw;
    height: 3vh;
    background: #414141;
    padding-right: 16px;
    color: white;
  }
  
  .ide-bottom-bar-left {
    width: 18vw;
    padding-left: 8px;
  }
  
  .ide-bottom-bar-center {
    width: 42vw;
    padding-left: 8px;
  }
  
  .ide-bottom-bar-right {
    width: 40vw;
  }
  
  .ide-bottom-bar-author {
    margin: 0;
    font-size: 16px;
    text-align: center;
    color: grey;
  }
  
  .ide-bottom-bar-help {
    color: grey;
    margin: 0 6px;
    font-size: 16px;
  }
  
  .ide-bottom-bar-message {
    padding: auto 0;
    margin: 0 6px;
    font-size: 16px;
    color: #5c6bc0;
  }
  
  /* Terminal */
  .ide-terminal-container {
    width: 100vw;
    /* height: calc(97vh-48px); */
    /* max-height: 65vh;
    min-height: 65vh; */
    height: 97vh;
    position: fixed;
    /* left: 18vw; */
    /* bottom: 3vh; */
    left: 0;
    bottom: 3vh;
    background: #1e1e1e77;
  }
  
  .ide-terminal-appbar {
    width: 100%;
    height: 48px;
    /* position: fixed; */
    border-top: 1px solid #61616161;
  }
  
  .ide-terminal-flex {
    height: 46px;
  }
  
  .ide-terminal-url {
    height: 46px !important;
    margin: auto 6px !important;
  }
  
  .ide-terminal-button {
    margin-right: 6px;
  }
  
  .ide-terminal-term {
    width: 100%;
    background: #1e1e1e77;
  }
  
  /*覆盖样式 */
  .mu-expansion-toggle-btn.mu-button {
    margin-left: auto;
    margin-right: -12px;
    color: rgba(221, 207, 207, 0.67) !important;
    -webkit-transform: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    transform: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .mu-text-field-input {
    color: rgba(221, 207, 207, 0.67) !important;
  }
  
  .terminal {
    float: left;
    height: 90vh;
    border: #1e1e1e solid 8px;
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 16px;
    color: #f0f0f0;
    background: #1e1e1e77 !important;
  }
  
  .mu-expansion-panel__expand .mu-expansion-panel-header {
    min-height: 48px !important;
  }
  
  .mu-expansion-panel-content {
    padding: 6px !important;
  }
  
  .monaco-editor,
  .monaco-editor-background,
  .monaco-editor .inputarea.ime-input {
    background-color: #1e1e1e;
    height: calc(97vh-48px) !important;
    width: 85vw !important;
  }
  
  .outer-container,
  .content {
    /* min-height: 20vh; */
    height: 50vh;
  }
  .outer-container {
    position: relative;
    overflow: hidden;
  }
  .inner-container {
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .mu-appbar-title {
    font-size: 18px !important;
    color: #e0e0e0;
  }