<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1"><link rel=stylesheet href=static/material-icon.css><link rel=stylesheet href=static/material.css><title>1ZLAB MicroIDE</title><style>html {
      width: 100%;
      height: 100%;
    }

    body {
      overflow-x: hidden;
      overflow-y: hidden;
    }</style><link href=/static/css/app.b003f33f8c793fbba698f62f49b669cb.css rel=stylesheet></head><body><div id=app></div>
<script type=text/javascript src="{{url_for('static',filename='js/manifest.2ae2e69a05c33dfc65f8.js')}}"></script>
<script type=text/javascript src="{{url_for('static',filename='js/vendor.7f80766b922b3dac076f.js')}}"></script>
<script type=text/javascript src="{{url_for('static',filename='js/app.ab39e386569105ce7aea.js')}}"></script>
</body>

</html>